#nav5{
    background-color: #202649;
    padding: 16px 30px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.38);


}
#name{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#subscribe{
    background-color: transparent;
    border: 1px solid white;
    padding: 11px 22px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
li{
    font-size: 18px;
}
.rounded{
    border-radius: 361px;
}
#profile{
    box-sizing: content-box;
    border: 37px solid rgba(11, 34, 167, 0.1);
    position: relative;
}
#banner{
    box-sizing: content-box;
    border: 10px solid #ffffff;
    position: absolute;
    left:300px
}
.secondiv{
    height: 423px; 
    width: 398px; 
    background-color: #202649;
    margin-top: 0px;
    margin-left: 627px;
    box-shadow: 0px 10px 20px;
    border-radius: 50px;
    position: relative;
    /*display: flex;*/
    /*background-color: #ffffff;*/
}
#hello{
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    
    height: 225px;
    width: 285px;
    font-style: normal;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    font: #ffffff;
    padding-top: 99px;
    padding-left: 40px;
    padding-right: 40px;
}